/* 常规字重 */
@font-face {
  font-family: 'webfont';
  src: url('AlibabaPuHuiTi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 中等字重 */
@font-face {
  font-family: 'webfont';
  src: url('AlibabaPuHuiTi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* 粗体 */
@font-face {
  font-family: 'webfont';
  src: url('AlibabaPuHuiTi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
